

<%= render @customer %>

<div style="float: left; width: auto;">
  <%= link_to "Edit this customer", edit_customer_path(@customer), class: "btn btn-primary" %> |
  </div>
  <div style="float: left; width: auto;">
  <%= link_to "Back to customers", customers_path, class: "btn btn-primary" %> |
  </div>
  <div style="float: left; width: auto;">
  <%= button_to "Delete  this customer", @customer, class: "btn btn-primary", method: :delete %>
</div>
